#noscript
	header.home_nav
		.inner
	section#texts.standalone
		#loading
			.inner
				h1= t('notloaded')
				p= t('loaded')
				p= t('noscript')
			.load_loowid 
				p= t('loading')
	footer.inner
		span &copy;
		span= t('footerText')
		span= 'v'+version
