extends layouts/default

block content
  div(data-ng-view)
  script(type="text/javascript").
    window.csrf = '!{token}';
    window.loowid_version = '!{version}';
    window.loowid_node = '!{node}';
    window.wsocket = { host: '!{host}', port: '!{port}' }; 
